.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Usa min-height para garantir que o conteúdo não exceda a altura da tela */
    background-color: #1a1a2e;
  }
  
  .header {
    position: absolute; /* Posiciona o cabeçalho no topo da página */
    top: 20px; /* Ajuste essa valor conforme necessário para mover para cima */
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .logo {
    width: 54px; 
    height: 56px; 
  }
  
   
  
  .inputemail:focus,
  .inputsenha:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .inputemail::placeholder,
  .inputsenha::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  
  
  
  
  .loginform {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os filhos horizontalmente */
    justify-content: center; /* Centraliza os filhos verticalmente */
    width: 100%;
    max-width: 340px;
    gap: 10px;
    margin-top: 50px; /* Adiciona espaço no topo, ajuste conforme necessário */
  }
  
  .inputemail,
  .inputsenha {
    width: 100%;
    padding: 14px 24px;
    border: 1px solid #A2A2B6;
    border-radius: 30px;
    color: #FFFFFF;
    background: #1a1a2e;
    backdrop-filter: blur(5px);
    margin-top: 0.5rem; /* Espaço entre a label e o input */
  }
  
  
  .input-group {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start; /* Alinha os elementos à esquerda */
    width: 100%;
    margin-bottom: 1rem; /* Espaço abaixo de cada grupo de input */
  }
  
  
  
  .label {
    color: #A2A2B6;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
  
  .botao{
    text-align: center;
    
  }
  .loginform button {
   align-items: center;
    width: 100%;
    padding: 14px 24px;
    border-radius: 30px;
    border: none;
    background: radial-gradient(100% 100% at 50% 100%, rgba(255, 255, 255, 0.00) 43.25%, rgba(255, 127, 55, 0.50) 100%), #FF7966;
    box-shadow: 0px 8px 25px 0px rgba(255, 121, 102, 0.50);
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Assegura espaço acima do botão */
  }
  
  .loginform button:hover {
    background-color: #da2f49;
  }
  